* {
    text-align: center;
}
  
body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://www.telegraph.co.uk/content/dam/betting/Better-Collective/stadium-from-pitch-xlarge.jpg");
  background-color: #111;
  background-size: 100%;
  background-position: initial;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 255, 255, 0.596);
  margin: 30px;
  border-radius: 60px;
  text-align: center;
  padding: 30px;
  height: 930px;
  min-width: fit-content;
  min-height: fit-content;
  display: block;
}

.container__logo {
  margin-top: -30px;
  max-height: 120px;
}

.container__table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

th,
tr,
td {
  border: solid 1px black;
  color: black;
  border-radius: 5px;
}

.table__badges {
  height: 24px;
}

.table__NameColumn {
  max-width: 105px;
}

.table__Wbutton {
  height: 24px;
  border-radius: 50%;
  background-color: rgb(4, 255, 4);
  opacity: 0.7;
  cursor: pointer;
} 

.table__Dbutton {
  height: 24px;
  border-radius: 50%;
  background-color: yellow;
  opacity: 0.7;
  cursor: pointer;
} 

.table__Lbutton {
  height: 24px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.7;
  cursor: pointer;
} 

.container__form {
  margin: 10px;
}

.form__input {
  margin: 30px 0 10px;
  padding: 5px 8px;
  border-radius: 7px;
  font-weight: bold;
  width: 100px;
  font-size: 12px;
}

.form__button {
  color: black;
  background: rgb(255, 238, 0);
  opacity: 0.7;
  font-weight: bold;
  width: 120px;
  padding: 5px 8px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

.form__button:hover {
  opacity: 0.8;
}

.container__button {
  color: black;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 7px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (max-width: 1030px) {
  body {
    background-repeat: repeat;
    padding: 10vh 0;
  }
  
  .table__PGColumn, .table__PGTittle {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-repeat: no-repeat;
  }
  .table__PGColumn, .table__WColumn, .table__DColumn, 
  .table__LColumn, .table__PGTittle, .table__WTittle, .table__DTittle,
  .table__LTittle {
    display: none;
  }

  .container {
    font-size: 12px;
    padding: 6px;
    margin: 3px;
  }
}