* {
    text-align: center;
}
  
body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://www.telegraph.co.uk/content/dam/betting/Better-Collective/stadium-from-pitch-xlarge.jpg");
  background-color: #111;
  background-size: 100%;
  background-position: initial;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 255, 255, 0.473);
  margin: 80px;
  border-radius: 60px;
  text-align: center;
  padding: 30px;
  height: 100vh;
}

.container__tittle {
  color: black;
  margin: 0 0 5px;
}

.container__table {
  border: 2px solid black;
  border-collapse: collapse;

}

th,
tr,
td {
  border: solid 1px black;
  color: black;
  border-radius: 5px;
}

.form-wrapper {
  margin: 10px;
  font-size: 14px;
}

.form-wrapper input {
  margin: 10px auto;
  padding: 7px 5px;
  border-radius: 7px;
  font-weight: bold;
}

.form-wrapper button {
  color: black;
  background: rgba(255, 238, 0, 0.349);
  font-weight: bold;
  padding: 7px 25px;
  border-radius: 7px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form-wrapper button:hover {
  opacity: 0.8;
}